/* Post Label And Search */

/* Hack iOS Safari Unfocus */
main {
  outline: none;
  min-height: 100vh; // Click Anywhere to Unfocus
}

.posts-labelgroup {
  position: relative; /* 부모 요소에 상대적인 위치 설정 */

  .search-section {
    position: fixed; /* 화면에 고정 */
    top: 10px; /* 상단에서 10px 만큼 떨어진 위치 */
    right: 10px; /* 오른쪽에서 10px 만큼 떨어진 위치 */
    display: flex;
    align-items: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    background-color: white; /* 배경색을 설정하여 다른 내용 위에 겹치지 않도록 할 수 있습니다 */
    z-index: 9999; /* 다른 요소들보다 우선적으로 표시되도록 설정 */
    transition: box-shadow 0.3s ease-in-out; /* 스무스한 애니메이션 효과 추가 */
  }

  .search-section:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* hover시 그림자 효과 */
  }

  i {
    color: #777;
    flex-grow: 0;
    padding: 0 8px;
    transition: color 0.5s;
    font-size: 15px;
  }

  input {
    color: #555;
    background-color: transparent;
    font-size: 15px;
    flex-grow: 1;
    height: 39px;
    border: none;
    padding: 10px 0;
    outline: none;
    transition: color 0.5s;
  }

  .search-results {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    width: 100%;
    min-height: 50px;
    box-shadow: 0 1px 2px 0 rgba(32, 33, 36, 0.28);
    z-index: 3;
    padding: 10px 0;
    font-size: 15px;
    border: 1px solid rgba(223,225,229,0);

    &:empty::before {
      content: attr(data-placeholder);
      padding: 8px 25px 8px 14px;
    }

    a {
      padding: 8px 25px 8px 14px;
      text-decoration: none;
      display: flex;
      background-color: transparent;

      &:hover {
        color: black;
        background-color: #eee;
      }

      &::before {
        content: '\e805';
        font-family: "fontello";
        font-style: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        margin-right: 14px;
        padding: 0 3px;
        color: #9aa0a6;
      }
    }
  }

  .search-container {
    display: block;
    flex-grow: 1;
    position: relative;
  }

  &.focus-within {

    .search-section {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0 1px 2px 0 rgba(32,33,36,0.28);
      border: 1px solid rgba(223,225,229,0);
      border-bottom: solid 1px #eee;
      z-index: 3;
      margin: 0 auto;
    }

    input {
      color: black;
    }

    i {
      color: $linkColor;
      padding: 0 14px;
    }
  }

  /* Search icon hover color change */
  .search-section:hover i {
    color: $linkColor;  // hover시 아이콘 색상 변경
  }
}
